{
        "100002455138203" 		: "Enter Facebook Client ID from Developer Account",
        "facebookClientSecret"  : "Enter Facebook Client Secret from Developer Account",
        "facebookPassword"		: "Demo Password in case of poor connectivity",
        "googleClientID" 		: "Enter Google Client ID from Developer Account",
        "googleClientSecret"    : "Enter Google Client ID from Developer Account",
        "googlePassword" 		: "Demo Password in case of poor connectivity"
}